In [1]:
import pandas as pd
import copy

In [2]:
movies=pd.read_csv('/movies.csv')
ratings=pd.read_csv('/ratings.csv')

In [3]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
unique_users=ratings["userId"].unique()
unique_movies=movies["movieId"].unique()

In [5]:
user_movie_df = pd.pivot_table(ratings, index='userId', columns='movieId', values='rating')
    
user_movie_df[user_movie_df < 4] = 0
user_movie_df[user_movie_df >=4] = 1
    
user_movie_df.fillna(0, inplace=True)

In [6]:
user_movie_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

frequent_itemsets = apriori(user_movie_df, min_support=0.05, use_colnames=True)

association_rules(frequent_itemsets, 
                  metric='confidence', 
                  min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(32),(1),0.193443,0.240984,0.083607,0.432203,1.793497,0.036990,1.336775
1,(1),(32),0.240984,0.193443,0.083607,0.346939,1.793497,0.036990,1.235041
2,(1),(34),0.240984,0.122951,0.070492,0.292517,2.379138,0.040863,1.239675
3,(34),(1),0.122951,0.240984,0.070492,0.573333,2.379138,0.040863,1.778945
4,(1),(47),0.240984,0.229508,0.078689,0.326531,1.422741,0.023381,1.144064
...,...,...,...,...,...,...,...,...,...
433089,"(7153, 6874)","(5952, 4993, 296, 2571, 2959)",0.086885,0.070492,0.050820,0.584906,8.297499,0.044695,2.239270
433090,(5952),"(4993, 296, 2571, 2959, 7153, 6874)",0.214754,0.054098,0.050820,0.236641,4.374277,0.039202,1.239131
433091,(4993),"(5952, 296, 2571, 2959, 7153, 6874)",0.239344,0.054098,0.050820,0.212329,3.924865,0.037872,1.200884
433092,(7153),"(5952, 4993, 296, 2571, 2959, 6874)",0.229508,0.050820,0.050820,0.221429,4.357143,0.039156,1.219131
433093,(6874),"(5952, 4993, 296, 2571, 2959, 7153)",0.144262,0.068852,0.050820,0.352273,5.116342,0.040887,1.437561

In [8]:
user_movie_df = pd.pivot_table(ratings, index='userId', columns='movieId', values='rating')


user_movie_df.fillna(0, inplace=True)

In [9]:
data = {'user_id': [1, 2, 3, 4, 5],
        'movie_1': [4, 3, 5, 2, 1],
        'movie_2': [3, 4, 2, 5, 1]}
df = pd.DataFrame(data)

def discretize_review(review):
    if review in [1, 2]:
        return 'low'
    elif review == 3:
        return 'medium'
    else:
        return 'high'


df_melt = pd.melt(df, id_vars='user_id', var_name='movie_id', value_name='review')

# Discretize the review values
df_melt['review'] = df_melt['review'].apply(discretize_review)
df_melt["movie_review"]=df_melt["movie_id"]+" "+df_melt["review"]
df_melt.drop('review',axis=1,inplace=True)
df_melt.drop('movie_id',axis=1,inplace=True)

# Pivot the dataframe
df_pivot = df_melt.pivot_table(index='user_id', columns='movie_review', aggfunc=len, fill_value=0)

df_pivot

movie_review,movie_1 high,movie_1 low,movie_1 medium,movie_2 high,movie_2 low,movie_2 medium
user_id,,,,,,
1,1,0,0,0,0,1
2,0,0,1,1,0,0
3,1,0,0,0,1,0
4,0,1,0,1,0,0
5,0,1,0,0,1,0

In [10]:
user_movie_df = pd.pivot_table(ratings, index='userId', columns='movieId', values='rating')

user_movie_df.fillna(-1, inplace=True)

def discretize_review(review):
    if review==-1:
        return "none"
    elif review<3:
        return 'low'
    elif review == 3:
        return 'medium'
    else:
        return 'high'

user_movie_df["userId"]=user_movie_df.index
df_melt = pd.melt(user_movie_df, id_vars='userId', var_name='movie_id', value_name='review')

# Discretize the review values
df_melt['review'] = df_melt['review'].apply(discretize_review)
df_melt["movie_review"]=df_melt["movie_id"].astype(str)+" "+df_melt["review"]
df_melt.drop('review',axis=1,inplace=True)
df_melt.drop('movie_id',axis=1,inplace=True)
df_melt = df_melt[~df_melt['movie_review'].str.contains('none')]

# Pivot the dataframe
df_pivot = df_melt.pivot_table(index='userId', columns='movie_review', aggfunc=len, fill_value=0)

df_pivot

movie_review,1 high,1 low,1 medium,10 high,10 low,10 medium,100 high,100 low,100 medium,100044 high,...,99846 medium,99853 high,999 high,999 low,999 medium,99910 high,99910 medium,99917 high,99917 medium,99992 medium
userId,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
607,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
608,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
609,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
610,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

frequent_itemsets = apriori(df_pivot, min_support=0.1, use_colnames=True)

association_rules(frequent_itemsets, 
                  metric='confidence', 
                  min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1 high),(110 high),0.270492,0.308197,0.113115,0.418182,1.356867,0.029750,1.189037
1,(110 high),(1 high),0.308197,0.270492,0.113115,0.367021,1.356867,0.029750,1.152500
2,(1136 high),(1 high),0.191803,0.270492,0.101639,0.529915,1.959078,0.049758,1.551863
3,(1 high),(1136 high),0.270492,0.191803,0.101639,0.375758,1.959078,0.049758,1.294684
4,(1196 high),(1 high),0.295082,0.270492,0.129508,0.438889,1.622559,0.049691,1.300114
...,...,...,...,...,...,...,...,...,...
21159,(296 high),"(4993 high, 2571 high, 7153 high, 2959 high, 5...",0.419672,0.124590,0.100000,0.238281,1.912521,0.047713,1.149256
21160,(2571 high),"(4993 high, 296 high, 7153 high, 2959 high, 59...",0.393443,0.109836,0.100000,0.254167,2.314055,0.056786,1.193516
21161,(7153 high),"(4993 high, 296 high, 2571 high, 2959 high, 59...",0.262295,0.103279,0.100000,0.381250,3.691468,0.072911,1.449247
21162,(2959 high),"(4993 high, 296 high, 2571 high, 7153 high, 59...",0.321311,0.111475,0.100000,0.311224,2.791867,0.064182,1.290006
21163,(5952 high),"(4993 high, 296 high, 2571 high, 7153 high, 29...",0.255738,0.106557,0.100000,0.391026,3.669625,0.072749,1.467127

In [22]:
new_movies=movies
new_movies["year"]=movies["title"].str.extract(r'\((\d{4})\)')
genres=new_movies["genres"]
new_genres=[]
for genre in genres:
    new_genres.append(genre.split("|"))
unique_genres=set()
for genre_list in new_genres:
    for genre in genre_list:
        unique_genres.add(genre)
unique_genres

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [27]:
new_movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991